aiogram==2.18
aiohttp==3.8.1
aioredis==2.0.1
aiosignal==1.2.0
altgraph==0.17.2
antigravity==0.1
APScheduler==3.9.1
aspose-words==22.6.0
async-lru==1.0.2
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
Babel==2.9.1
beautifulsoup4==4.10.0
better-profanity==0.7.0
Bext==0.0.8
bz2file==0.98
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
ciseau==1.0.1
click==8.0.3
clipboard==0.0.4
colorama==0.4.4
cryptography==36.0.1
cycler==0.11.0
dnspython==2.2.1
epub==0.5.2
epub-conversion==1.0.15
et-xmlfile==1.1.0
Faker==13.11.1
fonttools==4.33.3
freegames==2.4.0
frozenlist==1.3.0
future==0.18.2
fuzzywuzzy==0.18.0
geojson==2.5.0
gTTS==2.2.3
howdyho==3.0.1
idna==3.3
iniconfig==1.1.1
install==1.3.5
joblib==1.1.0
keyboard==0.13.5
kiwisolver==1.4.2
libretranslatepy==2.1.1
lxml==4.7.1
matplotlib==3.5.1
motor==3.0.0
MouseInfo==0.1.3
mpmath==1.2.1
multidict==5.2.0
nltk==3.7
numpy==1.21.5
opencv-python==4.5.5.62
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pefile==2021.9.3
phonenumbers==8.12.48
Pillow==8.4.0
pixel==0.4.1
pluggy==1.0.0
py==1.11.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycparser==2.21
pygame==2.1.2
PyGetWindow==0.0.9
pyglet==1.5.21
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pyjokes==0.6.0
pymongo==4.1.1
PyMsgBox==1.0.9
pynput==1.7.6
pyOpenSSL==21.0.0
pyowm==3.2.0
pyparsing==3.0.7
pyperclip==1.8.2
PyRect==0.2.0
Pyrogram==1.2.20
PyScreeze==0.1.28
PySocks==1.7.1
pyTelegramBotAPI==4.3.1
pytesseract==0.3.8
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.20.0
pytube==11.0.2
pytweening==1.0.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyxel==1.9.5
PyYAML==6.0
qrcode==7.3.1
regex==2022.3.15
requests==2.27.1
scikit-learn==1.1.2
scipy==1.9.0
service-identity==21.1.0
Shelves==0.3.8
six==1.16.0
sklearn==0.0
soupsieve==2.3.1
SpeechRecognition==3.8.1
telegram==0.0.1
TelegramBotAPI==0.3.2
TgCrypto==1.2.3
threadpoolctl==3.1.0
toml==0.10.2
tqdm==4.64.0
translate==3.6.1
turtle==0.0.1
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.8
wikipedia==1.4.0
yarl==1.7.2
